// Resets, Clearfix, etc
@import "./partials/_reset";
@import "./partials/_clearfix";

// Variables
$dark_color: purple;
$light_color: cornflowerblue;
$bright_color: yellow;
$padding: 50px;
 
// Media Query Ranges 
 
// Mixins

// Styles
body{
  background-color: $bright_color;
  text-align: center;
  color: #EEE;
}
 
h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
 
h1{
  padding: 20px;
}
 
h2{
 
}
 
 
.block_family{
  max-width:350px;
  margin:auto;
}
 
.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: $padding;
}